{% extends "shop/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div>
            <img src="{{ product.image }}" width="500px" height="500px" alt="{{ product.title }}" class="img-fluid">
        </div>
    </div>
    <div class="col-md-6">
          <div class="text-warning display-4">
            {{ product.title }}
          </div>
          <div class="text-danger">
            Prix : {{ product.price }} $
          </div>
          <div>
            {{ product.description }}
          </div>
          <a href="#">
            <button class="btn btn-primary">Acheter</button>
          </a>
    </div>
  </div>
</div>
{% endblock %}